/* This is the CSS file for steelfingerstudios.com */

/* This is for the big header image at the top of the page */
.center-fit {
    max-width: 100%;
    max-height: auto;
    margin: auto;
}

/* For normal images*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }

/* The official Steelfinger Studios font designed by Bofner */
@font-face{
    font-family: 'steelfingerstudios';
    src: url('fonts/Steelfinger Studios.ttf');
}

/* This is the background color for the body (#0055aa will blend into the top layer) */
body {
    height: 100%;
    margin: 0;
    background: #95dbdb;
    font-family: 'steelfingerstudios';
    font-size: 24px;
}

p{
    margin: 20px;
}

.container {
    text-align: center;
}

.buttons {
    font-family: 'steelfingerstudios';
    font-size: 36px;
    background-color: #005555;
    color: #feffeb;
    border: black;
    border-radius: 10px;
    padding: 12px 40px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.buttons:hover {
    background-color: #009caa;
    color: white;
}




