/* This is the CSS file for steelfingerstudios.com */

/* This is for the big header image at the top of the page */
.center-fit {
    display: block;
    max-width: 100%;
    max-height: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.paragraph{
    text-align: left;
    margin-left:10%;
    margin-right:10%;
    margin-top:0%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }

.centerVideo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.center-text {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}

/* Roboto font */
@font-face{
    font-family: 'roboto';
    src: url('fonts/RobotoSlab-VariableFont_wght.ttf');
}

/* The official Steelfinger Studios font designed by Bofner */
@font-face{
    font-family: 'steelfingerstudios';
    src: url('../fonts/Steelfinger Studios.ttf');
}

@font-face{
    font-family: 'PixelMplus10';
    src: url('../fonts/PixelMplus10-Regular.ttf')

}

/* This is the background color for the body (#0055aa will blend into the top layer) */
body {
    height: 100%;
    margin: 0;
    background: #4e91ab;
    font-family: 'roboto';
    font-size: 28px;
    color: #d7d7d7;
}

.jpFontCenter{
    font-family: 'PixelMplus10';
    font-size: 20px;
    color: #d7d7d7;
    margin-top: 5px;
    text-align: center;
} 

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.imageRow{
    display:flex;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding:2%;
}

.videoRow{
    display:flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding:10px;
}

.column{
    padding:0px;
}

.caption{
    display: block;
    color: #FFFFFF;
}

.captionGame{
    display: block;
    color: #FFFFFF;
    font-family: 'steelfingerstudios';
}

.captionVideo{
    display: block;
    font-size: 36px;
    color: #d7d7d7;
    text-align: center;
}
.captionJP{
    display: block;
    font-family: 'PixelMplus10';
    font-size: 20px;
    color: #FFFFFF;
}

.containerVideo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}


.twoVideoColumns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.leftButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}


.buttons {
    font-family: 'roboto';
    font-size: 36px;
    background-color: #4e91ab;
    color: #d7d7d7;
    border: black;
    border-radius: 10px;
    padding: 12px 40px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.buttonsGame {
    font-family: 'steelfingerstudios';
    font-size: 36px;
    background-color: #4e91ab;
    color: #d7d7d7;
    border: black;
    border-radius: 10px;
    padding: 12px 40px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.buttons:hover {
    background-color: #176587;
    color: #FFFFFF;
}

.buttonsGame:hover {
    background-color: #176587;
    color: #FFFFFF;
    font-family: 'steelfingerstudios';
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'roboto';
    font-size: 36px;
    background-color: #4e91ab;
    color: #d7d7d7;
    border: black;
    border-radius: 10px;
    padding: 12px 40px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.dropdownGame {
    position: relative;
    display: inline-block;
    font-family: 'steelfingerstudios';
    font-size: 36px;
    background-color: #4e91ab;
    color: #d7d7d7;
    border: black;
    border-radius: 10px;
    padding: 12px 40px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.dropdown:hover {
    display: block;
    background-color: #176587;
    color: #FFFFFF;
  }

  .dropdownGame:hover {
    display: block;
    font-family: 'steelfingerstudios';
    background-color: #176587;
    color: #FFFFFF;
  }

.dropdown-content {
    display: none;
    position: absolute;
    width: 50%;
    right: 0;
    color: #d7d7d7;
    border-radius: 10px;
    padding: 12px 40px;
    transition-duration: 0.1s;
    cursor: pointer;
  }

.dropdownGame-content {
    display: none;
    position: absolute;
    width: 50%;
    right: 0;
    font-family: 'steelfingerstudios';
    color: #d7d7d7;
    border-radius: 10px;
    padding: 12px 40px;
    transition-duration: 0.1s;
    cursor: pointer;
  }

.dropdown-content a {
    color: #d7d7d7;
    text-decoration: none;
    display: block;
  }
  .dropdownGame-content a {
    color: #d7d7d7;
    text-decoration: none;
    display: block;
    font-family: 'steelfingerstudios';
  }
  
.dropdown:hover .dropdown-content{
    display: block;
    background-color: #176587;
    color: #FFFFFF;
  }

  .dropdownGame:hover .dropdown-content{
    display: block;
    background-color: #176587;
    color: #FFFFFF;
    font-family: 'steelfingerstudios';
  }

  .dropdown:hover .dropdown-content a{
    display: block;
    background-color: #176587;
    color: #FFFFFF;
  }

  .dropdownGame:hover .dropdown-content a{
    display: block;
    background-color: #176587;
    color: #FFFFFF;
    font-family: 'steelfingerstudios';
  }





